{% if deployment_options.deployment != "standalone"  %}
apiVersion: v1
kind: Service
metadata:
  name: "{{ suricata.fullname  }}-redis-suricata"
  namespace: {{ suricata.namespace }}
spec:
  type: NodePort
  ports:
    -
      name: cport-6379
      protocol: "TCP"
      port: 6379
      targetPort: 6379
      nodePort: {{ deployment_options.external_options.node_port }}
  selector: 
    app: suricata
{% endif %}
