apiVersion: batch/v1
kind: Job
metadata:
  name: {{ suricata.fullname }}-update
  namespace: {{ suricata.namespace }}
  labels:
    app: {{ suricata.name }}-update
spec:
  template:
    metadata:
      labels:
        app: {{ suricata.name }}-update
    spec:
      serviceAccountName: {{ suricata.fullname }}
      containers:
      - name: suricata-rules
        image: {{ images.suricata }}
        command: [ "bash", "-c", "/update-entrypoint.sh" ]
        env:
        - name: CHART_PREFIX
          value: {{ suricata.fullname }}
        volumeMounts:
        - name: suricata-config
          mountPath: /etc/suricata/
        - name: suricata-rules-pvc
          mountPath: /var/lib/suricata/rules
      volumes:
      - name: suricata-config
        configMap: 
          name: {{ suricata.fullname }}-config
      - name: suricata-rules-pvc
        persistentVolumeClaim:
          claimName: {{ suricata.fullname }}-rules-pvc
      restartPolicy: OnFailure 
      dnsPolicy: ClusterFirst
        
---

{% if suricata_config.enable_rules_updates  %}
apiVersion: batch/v1beta1
kind: CronJob
metadata:
  name: {{ suricata.fullname }}-update
  labels:
    app: {{ suricata.name }}-update
spec:
  schedule: "{{ suricata_config.rules_update_schedule }}"
  successfulJobsHistoryLimit: 1
  failedJobsHistoryLimit: 1
  jobTemplate:
    spec:
      template:
        metadata:
          labels:
            app: {{ suricata.name }}-update
        spec:
          serviceAccountName: {{ suricata.fullname }}
          containers:
          - name: suricata-update
            image: {{ images.suricata }}
            command: [ "bash", "-c", "/update-entrypoint.sh" ]
            env:
            - name: CHART_PREFIX
              value: {{ suricata.fullname  }}
            volumeMounts:
            - name: suricata-config
              mountPath: /etc/suricata/
            - name: suricata-rules-pvc
              mountPath: /var/lib/suricata/rules
          volumes:
          - name: suricata-update-config
            configMap: 
              name: {{ suricata.fullname }}-config
          - name: suricata-rules-pvc
            persistentVolumeClaim:
              claimName: {{ suricata.fullname }}-rules-pvc
          - name: suricata-config
            configMap:
              name: {{ suricata.fullname }}-config
          restartPolicy: OnFailure 
          dnsPolicy: ClusterFirst
{% endif %}
