apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  annotations: {}
  labels:
    created-by: {{ meta.name }}-suricata-update
    name: {{ meta.name }}-rules-pvc
  namespace: {{ meta.namespace }}
  name: {{ meta.name }}-suricata-rules-pvc
spec:
  accessModes:
  - ReadWriteOnce
  storageClassName: rook-ceph-block
  resources:
    requests:
      storage: 5Gi
