apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  annotations: {}
  labels:
    created-by: {{ suricata.name }}-update
    name: {{ suricata.fullname }}-rules-pvc
  namespace: {{ suricata.namespace }}
  name: {{ suricata.fullname }}-rules-pvc
spec:
  accessModes:
  - ReadWriteOnce
  storageClassName: rook-ceph-block
  resources:
    requests:
      storage: 5Gi
