apiVersion: batch/v1
kind: Job
metadata:
  name: '{{ meta.name }}-suricata-update'
  namespace: '{{ meta.namespace }}'
  labels:
    app: {{ meta.name }}-suricata-update
spec:
  template:
    metadata:
      labels:
        app: '{{ meta.name }}-suricata-update'
    spec:
      serviceAccountName: '{{ meta.name }}'
      containers:
      - name: suricata-rules
        image: {{ images.suricata }}
        command: [ "bash", "-c", "/update-entrypoint.sh" ]
        volumeMounts:
        - name: suricata-config
          mountPath: /etc/suricata/
        - name: suricata-rules-pvc
          mountPath: /var/lib/suricata/rules
      volumes:
      - name: suricata-config
        configMap: 
          name: {{ meta.name }}-suricata-config
      - name: suricata-rules-pvc
        persistentVolumeClaim:
          claimName: '{{ meta.name }}-suricata-rules-pvc'
      restartPolicy: OnFailure 
      dnsPolicy: ClusterFirst
        
---

{% if suricata_config.enable_rules_updates  %}
apiVersion: batch/v1beta1
kind: CronJob
metadata:
  name: '{{ meta.name }}-suricata-update-cj'
  labels:
    app: '{{ meta.name }}-suricata-update-cj'
spec:
  schedule: "{{ suricata_config.rules_update_schedule }}"
  successfulJobsHistoryLimit: 1
  failedJobsHistoryLimit: 1
  jobTemplate:
    spec:
      template:
        metadata:
          labels:
            app: '{{ meta.name }}-suricata-update'
        spec:
          serviceAccountName: '{{ meta.name }}-suricata-sa }}'
          containers:
          - name: suricata-update
            image: {{ images.suricata }}
            command: [ "bash", "-c", "/update-entrypoint.sh" ]
            volumeMounts:
            - name: suricata-config
              mountPath: /etc/suricata/
            - name: suricata-rules-pvc
              mountPath: /var/lib/suricata/rules
          volumes:
          - name: suricata-update-config
            configMap: 
              name: '{{ meta.name }}-suricata-config'
          - name: suricata-rules-pvc
            persistentVolumeClaim:
              claimName: '{{ meta.name }}-suricata-rules-pvc'
          - name: suricata-config
            configMap:
              name: '{{ meta.name }}-suricata-config'
          restartPolicy: OnFailure 
          dnsPolicy: ClusterFirst
{% endif %}
